body {
    background-color: #00212b;
    background-image: url('../img/trivialBOTS_bkgd_arms.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.logoabout {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    align-content: center;
}
.logoabout img {
    width: 200px;
}
.container h3 {
    margin-top: 0px;
    margin-bottom: 80px;
}

.bg-dark {
    background-color: #002d3a!important;
}

.aboutPeeps {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    width: 970px;
  }
  
  .card {
    width: 18rem;
    border: 1px solid #000;
    box-shadow: 6px 6px 120px #000;
  }
  
  .card-img-top {
    width: 100%;
    overflow: hidden;
    border-bottom: solid 1px #000;
    margin-top: -50px;
  }

  .card-body {
      color: #fff;
      background-color: #002d3a;
  }

  h3 {
      color: #007474;
  }

  .push-bottom {
      position: absolute;
      bottom: 20px;
      left: 35%;
  } 